# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment Variables & Secrets
.env
.venv
env/
venv/
ENV/

# Database files
*.db
*.sqlite3
instance/shoestore.db
shoestore.db

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

.vercel
